<div class="container">
  <h4>MEMBER</h4>
  <% @members.each do |member| %>
    <div class="row">
      <%= attachment_image_tag member, :profile_image, :fill, 500, 500, fallback: "no_image.jpg" %>
      <p class="h1">
        <%= member.name %>
      </p></br>
      <p>
        <%= member.introduction %>
      </p>
      <p class="lead small">
        Instagram
      </p></br>
      <%= link_to "https://www.instagram.com/#{member.instagram}/", target: :_blank, rel: "noopener noreferrer" do %>
        <i class="fab fa-instagram text-dark fa-3x"></i>
      <% end %>
    </div>
    <div class="row">
      <% if admin_signed_in? %>
        <%= link_to "edit", edit_member_path(member), class: "btn btn-success btn-sm" %>
        <%= link_to "destroy", member_path(member), method: :delete, class: "btn btn-danger btn-sm", "data-confirm" => "本当に削除しますか？" %></br>
      <% end %>
    </div>
  <% end %>

  <% if admin_signed_in? %>
    <%= form_with model: @member, local:true do |f| %>
      name<%= f.text_field :name, class: "form-control" %>
      introduction<%= f.text_field :introduction, class: "form-control" %>
      image<%= f.attachment_field :profile_image, class: "form-control" %>
      instagram ID<%= f.text_field :instagram, class: "form-control" %>
      <%= f.submit class: "btn btn-success" %>
    <% end %>
  <% end %>
</div>